* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fafaff;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

h1, h2, h4 {
  margin: 0;
}

h2 {
  font-size: 18px;
  font-weight: 500;
  color: #0066FF;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 40px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #2D2D2D;
  margin-bottom: 14px;
}

h4 {
  max-width: 460px;
  text-align: center;
  line-height: 1.8em;
  font-weight: 400;
  font-size: 18px;
  color: #646464;
  margin-bottom: 70px;
}

h4 span {
  font-weight: 500;
  color: #1d1d1d;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-block {
  text-decoration: none;
  width: 220px;
  height: 220px;
  margin-right: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 51, 0.14);
          box-shadow: 0px 2px 6px rgba(0, 0, 51, 0.14);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.menu-block:hover {
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 51, 0.1);
          box-shadow: 0px 12px 24px rgba(0, 0, 51, 0.1);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu-block:last-child {
  margin-right: 0;
}

.menu-block .menu-block__title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 24px;
  color: #1d1d1d;
}

.menu-block.menu-block_alt .menu-block__title {
  font-size: 36px;
  font-weight: bold;
  color: #0066FF;
  margin-bottom: 20px;
}

.menu-block.menu-block_alt .menu-block__description {
  font-size: 18px;
  color: #1d1d1d;
  margin-bottom: 10px;
}

.menu-block.menu-block_alt .menu-block__description_alt {
  font-weight: 500;
  color: #0066FF;
  margin-bottom: 0;
}

.order-button {
  margin-top: 70px;
  display: inline-block;
  background: #0066FF;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 14px 60px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  margin-bottom: 40px;
}

.order-button:hover {
  background-color: #0066dd;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.contacts {
  position: fixed;
  top: 0;
  left: 50%;
  width: 300px;
  background-color: #fff;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding: 20px;
  padding-bottom: 10px;
  border-radius: 0 0 10px  10px;
  -webkit-transform: translateX(-50%) translateY(-100%);
          transform: translateX(-50%) translateY(-100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.contacts.contacts_open {
  -webkit-box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(-50%) translateY(0);
          transform: translateX(-50%) translateY(0);
}

.contacts__link {
  text-decoration: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-position: center left 10px;
  background-repeat: no-repeat;
}

.contacts__link:last-child {
  margin-bottom: 10px;
}

.contacts__link_vk {
  background-image: url("../img/contacts/vk.svg");
  background-color: #4A76A8;
}

.contacts__link_vk:hover {
  background-color: #3a5d85;
}

.contacts__link_email {
  background-image: url("../img/contacts/email.svg");
  background-color: #FED01E;
  color: #1d1d1d;
}

.contacts__link_email:hover {
  background-color: #e8b901;
}

.contacts__link_telegram {
  background-image: url("../img/contacts/telegram.svg");
  background-color: #5682A3;
}

.contacts__link_telegram:hover {
  background-color: #446782;
}

.contacts__link_whatsapp {
  background-image: url("../img/contacts/whatsapp.svg");
  background-color: #1EBEA5;
}

.contacts__link_whatsapp:hover {
  background-color: #17927f;
}

.contacts__link_skype {
  background-image: url("../img/contacts/skype.svg");
  background-color: #F2F2F2;
  color: #00A4E8;
}

.contacts__link_skype:hover {
  background-color: #d9d9d9;
}

.contacts__close {
  width: 100%;
  height: 21px;
  cursor: pointer;
  background-image: url("../img/arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1023px) {
  h4 {
    margin-bottom: 40px;
  }
  .menu {
    max-width: 390px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .menu-block {
    width: 180px;
    height: 180px;
    margin-bottom: 30px;
  }
  .menu-block:nth-child(2n) {
    margin-right: 0;
  }
  .menu-block__img {
    width: 50px;
    height: 50px;
  }
  .menu-block__title {
    font-size: 16px !important;
  }
  .menu-block_alt .menu-block__title {
    font-size: 26px !important;
  }
  .order-button {
    margin-top: 20px;
    padding: 10px 36px;
    font-size: 16px;
  }
}

@media screen and (max-width: 539px) {
  h2 {
    font-size: 16px;
    margin-top: 20px;
  }
  h1 {
    font-size: 26px;
  }
  h4 {
    font-size: 14px;
    padding: 0 22px;
    line-height: 1.4em;
    margin-bottom: 28px;
  }
  .menu {
    padding: 0 20px;
  }
  .menu-block {
    width: 120px;
    height: 120px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .menu-block__img {
    width: 34px;
    height: 34px;
  }
  .menu-block__title {
    margin-top: 10px !important;
    font-size: 14px !important;
  }
  .menu-block_alt .menu-block__title {
    font-size: 20px !important;
    margin-bottom: 10px !important;
  }
  .menu-block_alt .menu-block__description {
    font-size: 14px !important;
    margin-bottom: 0 !important;
  }
  .menu-block_alt .menu-block__description_alt {
    font-size: 14px !important;
  }
  .order-button {
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */