body {
    background-color: #fafaff;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h1,h2,h4 {
    margin: 0;
}

h2 {
    font-size: 18px;
    font-weight: 500;
    color: #0066FF;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 40px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #2D2D2D;
    margin-bottom: 14px;
}

h4 {
    max-width: 460px;
    text-align: center;
    line-height: 1.8em;
    font-weight: 400;
    font-size: 18px;
    color: #646464;
    margin-bottom: 70px;
    span {
        font-weight: 500;
        color: #1d1d1d;
    }
}

.menu {
    display: flex;
    &-block {
        text-decoration: none;
        width: 220px;
        height: 220px;
        margin-right: 30px;
        background-color: #fff;
        box-shadow: 0px 2px 6px rgba(0, 0, 51, 0.14);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.2s ease-in-out;
        &:hover {
            box-shadow: 0px 12px 24px rgba(0, 0, 51, 0.1);
            transform: translateY(-10px);
        }
        &:last-child {
            margin-right: 0;
        }
        .menu-block__title {
            font-size: 20px;
            font-weight: 500;
            margin-top: 24px;
            color: #1d1d1d;
        }
        &.menu-block_alt {
            .menu-block__title {
                font-size: 36px;
                font-weight: bold;
                color: #0066FF;
                margin-bottom: 20px;
            }
            .menu-block__description {
                font-size: 18px;
                color: #1d1d1d;
                margin-bottom: 10px;
                &_alt {
                    font-weight: 500;
                    color: #0066FF;
                    margin-bottom: 0;
                }
            }
        }
    }
}

.order-button {
    margin-top: 70px;
    display: inline-block;
    background: #0066FF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 14px 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: #0066dd;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.14);
        transform: translateY(5px);
    }
}