.info {
	width: 100%;
	background-color: #e4e4e4;
	padding: 45px 0;
	overflow: hidden;
}

.info_title {
	h1 {
		font-size: 25px;
		font-weight: 500;
		color: #005c8b;
		margin-bottom: 24px;
		line-height: 1.2em;
	}
}

.info_wrapper_p {
	display: flex;
	p {
		width: 50%;
		font-size: 17px;
		font-weight: 300;
		line-height: 1.4em;
		&:nth-child(1) {
		padding-right: 15px;
		}
		&:nth-child(2) {
			padding-left: 15px;
		}
	}
}

.info_bg {
	position: absolute;
	width: 388px;
	height: 470px;
	background: url(../img/info/info_bg.png);
	top: 0;
	left: 0;
	top: -190px;
    left: -125px;
}