.news {
	width: 100%;
	height: auto;
	background-color: #e4e4e4;
	padding: 35px 0;
}

.news_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	h1 {
		font-size: 25px;
		font-weight: 500;
		color: #005c8b;
	}
	span a {
		font-size: 12px;
		font-weight: 500;
		text-transform: uppercase;
		background-color: #283133;
		padding: 8px 10px;
		color: #fff;
	}
}

.news_wrapper {
	display: flex;
}

.news_block {
	width: 50%;
	display: flex;
	align-items: flex-start;
	&:last-child {
		margin-bottom: 0;
	}
	img {
		margin: 0;
		margin-right: 24px;
		border-radius: 45px;
		box-shadow: 0px 3px 14px -1px rgba(0,0,0,0.31);
	}
	.news_block_body {
		p {
			font-size: 15px;
			font-weight: 300;
			line-height: 1.6em;
		}
		.news_name_date {
			margin-bottom: 14px;
			h1 a {
				display: inline-block;
				font-size: 20px;
				font-weight: 500;
				color: #c11e2f;
				margin: 0;
				margin-right: 10px;
				margin-bottom: 12px;
				position: relative;
				&:before {
					position: absolute;
					content: '';
					bottom: 0;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #c11e2f;
					opacity: 0.3;
				}
			}
			p {
				font-size: 12px !important;
				color: #4e6871;
				line-height: 14px;
			}
		}
	}
}