@media screen and (max-width: 960px) {
  .wrap {
    max-width: 1310px;
    padding: 0 20px;
  }

  .header {
    height: 80px;
    margin-top: 0;
    padding: 25px 5px;
    background-color: #fefcfb;
    margin-bottom: 24px;
    .wrap {
      .logo {
        a {
          img {
            height: 25px;
          }
        }
      }
      .links {
        display: none;
      }
      .links-mob {
        display: flex;
      }
    }
  }
  
  .main {
    .wrap {
      flex-wrap: wrap;
      .col {
        width: 100%;
        margin-right: 0;
        .title-page {
          padding-top: 0;
          font-size: 20px;
          margin-bottom: 30px;
        }
        .title-pagetwo {
          font-size: 18px;
          margin-top: 50px;
          margin-bottom: 14px;
        }
        .title-desc {
          font-size: 14px;
          margin-bottom: 24px;
        }
        .block-credit {
          height: 80px;
          .text {
            font-size: 20px;
            padding-left: 30px;
          }
          .number {
            font-size: 20px;
            span {
              font-size: 40px;
              margin-top: -18px;
              padding-left: 5px;
            }
          }
        }
        .block-table {
          .table-title {
            padding: 30px;
            font-size: 20px;
          }
          .tr {
            padding-top: 18px;
            padding-bottom: 18px;
            padding-left: 30px;
            padding-right: 26px;
            .wrap-td {
              flex-direction: column;
              align-items: flex-start;
            }
            .td-title {
              font-size: 16px;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
    .wrap-form {
      .form-block {
        margin-top: 30px;
        .form-block-wrap {
          padding: 36px 30px;
          .form-title {
            font-size: 20px;
            margin-bottom: 20px;
          }
          .form {
            input {
              font-size: 14px;
              margin-bottom: 20px;
            }
            .form-link {
              margin-bottom: 24px;
            }
          }
        }
        .form-block-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }

  .footer {
    margin-top: 50px;
    .wrap {
      flex-direction: column;
      .text {
        width: 200px;
        font-size: 18px;
        text-align: center;
        margin-bottom: 40px;
      }
      .links {
        display: flex;
        flex-direction: column;
        align-items: center;
        span {
          margin-right: 0;
          order: 1;
          margin-top: 40px;
        }
        .link-u {
          border: 0;
          padding: 0;
          margin: 0;
          margin-bottom: 30px;
        }
      }
    }
  }

  .modal {
    .wrap-modal {
      padding: 0 20px;
      .modal-block {
        padding: 50px 18px;
        padding-bottom: 40px;
        img {
          width: 100px;
          margin-bottom: 36px;
        }
        .title {
          line-height: normal;
          font-size: 20px;
          margin-bottom: 14px;
        }
        .desc {
          font-size: 14px;
          margin-bottom: 20px;
        }
      }
    }
  }
}