* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

body, main, article,
aside, ul, ol, h1, h2,
h3, p, table, blockquote {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}