.calendar {
	width: 100%;
	height: auto;
	margin-bottom: 80px;
	.section-title {
		display: none;
	}
	.calendar-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		.calendar-block {
			width: 612px;
			padding: 65px 60px;
			border: 2px solid #757575;
			padding-bottom: 30px;
			.calendar-block-title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 50px;
				.calendar-block-title-btn_left {
					width: 9px;
					height: 17px;
					cursor: pointer;
					background: url(../img/icons/calendar-arrow-left.svg) no-repeat center;
					background-size: 100%;
				}
				h1 {
					text-transform: uppercase;
					font-size: 24px;
					font-weight: 700;
					color: $black;
				}
				.calendar-block-title-btn_right {
					width: 9px;
					height: 17px;
					cursor: pointer;
					background: url(../img/icons/calendar-arrow-right.svg) no-repeat center;
					background-size: 100%;
				}
			}
		}
		.calendar-form {
			width: 500px;
			.calendar-form-title {
				h1 {
					font-size: 36px;
					color: $black;
					padding-bottom: 30px;
					position: relative;
					margin-bottom: 68px;
					&:after {
						position: absolute;
						content: '';
						width: 150px;
						height: 3px;
						background-color: $brown;
						bottom: 0;
						left: 0;
					}
				}
			}
			form {
				display: flex;
				flex-direction: column;
				input {
					font-size: 18px;
					font-family: 'Roboto';
					width: 100%;
					margin-bottom: 40px;
					border: 0;
					background: transparent;
					border-bottom: 2px solid $brown;
					padding-bottom: 14px;
					opacity: 0.7;
					transition: 0.3s ease-in-out;
					color: $black;
					&:focus {
						opacity: 1;
					}
				}
				p {
					margin-top: 14px;
					position: relative;
					&:after {
						position: absolute;
						left: 0;
						top: 0;
						content: '';
						width: 273px;
						height: 34px;
						border-top: 3px solid $black;
						border-right: 3px solid $black;
					}
					&:before {
						position: absolute;
						left: 0;
						bottom: 0;
						content: '';
						width: 273px;
						height: 34px;
						border-left: 3px solid $black;
						border-bottom: 3px solid $black;
					}
				}
				.wrapper-button {
					margin-top: 15px;
					.button {
						cursor: pointer;
						display: inline-block;
						background: #fff;
						border-top: 3px solid $black;
						border-bottom: 3px solid $black;
						color: $black;
						border-left: 0;
						border-right: 0;
						padding: 20px 76px;
						font-family: 'Roboto Slab';
						font-weight: 700;
						font-size: 14px;
						text-transform: uppercase;
						position: relative;
						&:after {
							content: '';
							position: absolute;
							height: 60%;
							width: 3px;
							background-color: $black;
							bottom: 0;
							left: 0;
							transition: 0.3s ease-in-out;
						}
						&:before {
							content: '';
							position: absolute;
							height: 60%;
							width: 3px;
							background-color: $black;
							top: 0;
							right: 0;
							transition: 0.3s ease-in-out;
						}
						&:hover {
							&:after {
								height: 100%;
							}
							&:before {
								height: 100%;
							}
						}
					}
				}
				input::-webkit-input-placeholder {
					color: $brown;
				}
				input:-moz-placeholder {
					color: $brown;
				}
			}
		}
	}
}

//Тестовый календарь
#calendar {
    font-family: 'Roboto Slab';
    .ui-datepicker table thead {
    	display: none;
    }
    .ui-datepicker-header {
    	margin-bottom: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		.ui-datepicker-title {
			font-size: 24px;
			font-weight: 700;
			color: $black;
			margin-bottom: 0;
		}
    }
    .ui-datepicker table tr {
    	padding: 0;
    }
    .ui-datepicker td {
		padding: 24px 0;
    }
    .ui-datepicker-prev {
    	cursor: pointer;
    	top: 3px;
    	left: 0;
    	width: 9px;
    	height: 17px;
		background: url(../img/icons/calendar-arrow-left.svg) no-repeat center;
    }
    .ui-datepicker-next {
    	cursor: pointer;
    	top: 3px;
    	right: 0;
    	width: 9px;
    	height: 17px;
		background: url(../img/icons/calendar-arrow-right.svg) no-repeat center;
    }
    table {
		.ui-state-default {
			font-size: 22px;
			text-align: center;
		}
		a.ui-state-default {
			color: $black;
			&:hover {
				color: $brown;
			}
		}
		a.ui-state-active {
			color: $brown;
			position: relative;
			&:after {
				position: absolute;
			    content: '';
			    border-radius: 50%;
			    z-index: -1;
			    width: 44px;
			    height: 44px;
			    background-color: rgba(184, 161, 119, 0.5);
			    top: -11px;
			    left: 12px;
			}
		}
	}
}