body {
  font-family: 'Roboto Slab'; }

.container {
  max-width: 1260px;
  height: auto;
  margin: auto;
  padding: 0 15px; }

.section-title {
  font-size: 55px;
  color: #171310;
  padding-bottom: 40px;
  margin-bottom: 60px;
  position: relative; }
  .section-title:after {
    position: absolute;
    content: '';
    width: 150px;
    height: 4px;
    background-color: #b8a177;
    bottom: 0;
    left: 0; }

.header {
  width: 100%;
  height: 800px;
  position: relative;
  background-color: #555; }
  .header .header-wrapper-slider .header-slider .header-slider-item {
    position: relative; }
    .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-wrapprer {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      overflow: hidden; }
      .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-wrapprer img {
        height: 100%; }
    .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute {
      top: 218px;
      position: absolute;
      width: 100%; }
      .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text {
        color: #fff;
        margin-bottom: 104px; }
        .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text h1 {
          font-size: 64px;
          max-width: 740px;
          margin-bottom: 20px;
          line-height: 1.3em; }
        .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text h2 {
          max-width: 600px;
          margin-bottom: 26px;
          font-family: 'Roboto';
          font-size: 18px;
          line-height: 1.6em; }
        .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text p {
          font-size: 24px;
          color: #b8a177; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text p span {
            font-size: 36px; }
  .header .header-content-absolute {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 800;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
    .header .header-content-absolute .banner-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .header .header-content-absolute .banner-top a {
        text-decoration: none;
        color: #fff; }
      .header .header-content-absolute .banner-top .banner-top-logo img {
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        height: 70px; }
      .header .header-content-absolute .banner-top span {
        display: none; }
      .header .header-content-absolute .banner-top .banner-top-menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .header .header-content-absolute .banner-top .banner-top-menu ul li {
          margin-right: 44px; }
          .header .header-content-absolute .banner-top .banner-top-menu ul li:last-child {
            margin-right: 0; }
      .header .header-content-absolute .banner-top .banner-top-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .header-content-absolute .banner-top .banner-top-phone a:nth-child(1) {
          width: 50px;
          height: 50px;
          margin-right: 18px;
          background: url(../img/icons/phone.svg) no-repeat center;
          background-size: cover; }
        .header .header-content-absolute .banner-top .banner-top-phone a {
          font-size: 20px;
          font-weight: 300; }
  .header .header-content-absolute2 {
    bottom: 80px;
    position: absolute;
    width: 100%; }
    .header .header-content-absolute2 .banner-control_button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .header .header-content-absolute2 .banner-control_button .header-slide-prev {
        border-radius: 50%;
        cursor: pointer;
        margin-right: 20px;
        width: 60px;
        height: 60px;
        background: url(../img/icons/arrow-left.svg) no-repeat center;
        background-size: cover; }
      .header .header-content-absolute2 .banner-control_button .header-slide-next {
        border-radius: 50%;
        cursor: pointer;
        width: 60px;
        height: 60px;
        background: url(../img/icons/arrow-right.svg) no-repeat center;
        background-size: cover; }
    .header .header-content-absolute2 #dots-slider-header {
      display: none; }
  .header .popup-mobile-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(34, 29, 23, 0.95);
    z-index: 999;
    overflow-y: auto; }
    .header .popup-mobile-menu .popup-mobile-block {
      width: 100%;
      height: auto;
      background-color: #fff;
      padding: 25px; }
      .header .popup-mobile-menu .popup-mobile-block .popup-mobile-block-top {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .popup-mobile-menu .popup-mobile-block .popup-mobile-block-top img {
          height: 44px; }
        .header .popup-mobile-menu .popup-mobile-block .popup-mobile-block-top .popup-mobile-close {
          cursor: pointer;
          width: 40px;
          height: 40px;
          background: url(../img/icons/close.svg) no-repeat center;
          background-size: cover; }
      .header .popup-mobile-menu .popup-mobile-block ul {
        margin: 50px 0; }
        .header .popup-mobile-menu .popup-mobile-block ul li {
          text-align: center; }
          .header .popup-mobile-menu .popup-mobile-block ul li a {
            display: block;
            padding: 20px 0;
            font-size: 20px;
            color: #171310;
            text-decoration: none; }
      .header .popup-mobile-menu .popup-mobile-block .banner-top-phone {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header .popup-mobile-menu .popup-mobile-block .banner-top-phone a:nth-child(1) {
          width: 40px;
          height: 40px;
          margin-right: 15px; }
          .header .popup-mobile-menu .popup-mobile-block .banner-top-phone a:nth-child(1) img {
            width: 100%;
            height: 100%; }
        .header .popup-mobile-menu .popup-mobile-block .banner-top-phone a {
          font-size: 18px;
          font-weight: 300;
          color: #171310;
          text-decoration: none; }

.form {
  margin: 80px 0; }
  .form .form-wrapper {
    width: 100%;
    height: auto;
    padding: 46px 78px;
    background-color: #b8a177;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .form .form-wrapper .form-title h1 {
      max-width: 240px;
      color: #fff;
      font-size: 36px;
      padding-bottom: 28px;
      line-height: 1.3em;
      position: relative; }
      .form .form-wrapper .form-title h1:after {
        content: '';
        width: 150px;
        height: 3px;
        background-color: #171310;
        position: absolute;
        bottom: 0;
        left: 0; }
    .form .form-wrapper form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .form .form-wrapper form input[type="text"],
      .form .form-wrapper form input[type="tel"] {
        margin-right: 40px;
        padding: 10px 0;
        font-size: 18px;
        color: #171310;
        background-color: transparent;
        border: 0;
        border-bottom: 2px solid #171310;
        opacity: 0.7;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out; }
        .form .form-wrapper form input[type="text"]:focus,
        .form .form-wrapper form input[type="tel"]:focus {
          opacity: 1; }
      .form .form-wrapper form p {
        position: relative; }
        .form .form-wrapper form p:before {
          content: ' ';
          position: absolute;
          width: 3px;
          height: 20px;
          background-color: #b8a177;
          left: 0;
          top: 3px; }
        .form .form-wrapper form p:after {
          content: ' ';
          position: absolute;
          width: 3px;
          height: 20px;
          background-color: #b8a177;
          bottom: 3px;
          right: 0; }
      .form .form-wrapper form .button {
        cursor: pointer;
        display: inline-block;
        background: transparent;
        border-top: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-left: 0;
        border-right: 0;
        padding: 20px 60px;
        font-family: 'Roboto Slab';
        font-weight: 700;
        font-size: 14px;
        text-transform: uppercase;
        position: relative;
        color: #fff; }
        .form .form-wrapper form .button:after {
          content: '';
          position: absolute;
          height: 60%;
          width: 3px;
          background-color: #fff;
          bottom: 0;
          left: 0;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
        .form .form-wrapper form .button:before {
          content: '';
          position: absolute;
          height: 60%;
          width: 3px;
          background-color: #fff;
          top: 0;
          right: 0;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out; }
        .form .form-wrapper form .button:hover:after {
          height: 100%; }
        .form .form-wrapper form .button:hover:before {
          height: 100%; }
      .form .form-wrapper form input::-webkit-input-placeholder {
        color: #171310; }
      .form .form-wrapper form input:-moz-placeholder {
        color: #171310; }

.about {
  width: 100%;
  height: auto;
  margin-bottom: 40px; }
  .about .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .about .container .about-wrapper:nth-child(1) {
      width: 660px; }
    .about .container .about-wrapper:nth-child(2) {
      width: 480px;
      padding-top: 60px; }
    .about .container .about-wrapper .about-img {
      margin-bottom: 54px; }
      .about .container .about-wrapper .about-img img {
        width: 100%; }
    .about .container .about-wrapper .mob-adap-on {
      display: none !important; }
    .about .container .about-wrapper .mob-adap-off {
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    .about .container .about-wrapper .about-text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 54px; }
      .about .container .about-wrapper .about-text h1 {
        font-size: 70px;
        color: #b8a177; }
      .about .container .about-wrapper .about-text .about-text-wrapper p {
        padding-left: 66px;
        font-size: 16px;
        font-family: 'Roboto';
        line-height: 1.6em;
        margin-bottom: 30px; }
        .about .container .about-wrapper .about-text .about-text-wrapper p:last-child {
          margin-bottom: 0; }
      .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date {
        padding-left: 66px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative; }
        .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date:after {
          position: absolute;
          content: '';
          bottom: -35px;
          left: 66px;
          width: 90px;
          height: 2px;
          background-color: #b8a177; }
        .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date .about-text-date-item {
          width: 33.333333%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date .about-text-date-item h1 {
            font-size: 18px;
            font-weight: 700;
            color: #171310;
            margin-bottom: 10px; }
            .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date .about-text-date-item h1 span {
              font-size: 24px; }
            .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date .about-text-date-item h1 sup {
              font-size: 12px;
              margin-bottom: 5px; }
          .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date .about-text-date-item p {
            padding-left: 0; }

.conduct {
  margin-bottom: 105px; }
  .conduct .conduct-relative {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .conduct .conduct-relative .conduct-relative-block {
      width: 50%;
      height: 350px; }
    .conduct .conduct-relative .conduct-relative-block--1 {
      background: url(../img/content/bg-conduct-1.png) no-repeat center;
      background-size: cover; }
    .conduct .conduct-relative .conduct-relative-block--2 {
      background: url(../img/content/bg-conduct-2.png) no-repeat center;
      background-size: cover; }
    .conduct .conduct-relative .conduct-relative-block--3 {
      background: url(../img/content/bg-conduct-3.png) no-repeat center;
      background-size: cover; }
    .conduct .conduct-relative .conduct-relative-block--4 {
      background: url(../img/content/bg-conduct-4.png) no-repeat center;
      background-size: cover; }
    .conduct .conduct-relative .conduct-relative-block--5 {
      background: url(../img/content/bg-conduct-5.png) no-repeat center;
      background-size: cover; }
    .conduct .conduct-relative .conduct-relative-block--6 {
      background: url(../img/content/bg-conduct-6.png) no-repeat center;
      background-size: cover; }
    .conduct .conduct-relative .conduct-absolute {
      position: absolute;
      width: 100%;
      height: 100%; }
      .conduct .conduct-relative .conduct-absolute .container {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
      .conduct .conduct-relative .conduct-absolute .conduct-absolute-block {
        width: 50%;
        height: 350px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        cursor: pointer; }
        .conduct .conduct-relative .conduct-absolute .conduct-absolute-block:nth-child(even) h1 {
          margin-left: 120px; }
        .conduct .conduct-relative .conduct-absolute .conduct-absolute-block h1 {
          font-size: 30px;
          color: #fff;
          line-height: 80px;
          border-left: 3px solid #b8a177;
          padding-left: 60px; }
        .conduct .conduct-relative .conduct-absolute .conduct-absolute-block p {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-left: 120px;
          border-left: 3px solid #171310;
          padding-left: 60px;
          height: 80px;
          font-size: 18px;
          line-height: 1.6em;
          color: #fff; }

.popup-conduct {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  z-index: 900; }
  .popup-conduct .popup-conduct-block {
    padding: 50px 100px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.popup-close-conduct {
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(../img/icons/close.svg) no-repeat center;
  background-size: cover; }

.services {
  margin-bottom: 105px; }
  .services .services-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .services .services-wrapper .services-block {
      width: 32%; }
      .services .services-wrapper .services-block img {
        width: 100%;
        margin-bottom: 37px; }
      .services .services-wrapper .services-block p {
        font-size: 24px;
        color: #171310;
        line-height: 1.6em; }

.privileges {
  width: 100%;
  height: auto;
  background-color: #f8f5f1;
  padding: 76px 0;
  margin-bottom: 85px; }
  .privileges .privileges-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .privileges .privileges-wrapper .privileges-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 32%; }
      .privileges .privileges-wrapper .privileges-block:nth-child(1), .privileges .privileges-wrapper .privileges-block:nth-child(2), .privileges .privileges-wrapper .privileges-block:nth-child(3) {
        margin-bottom: 65px; }
      .privileges .privileges-wrapper .privileges-block .privileges-block-prew {
        margin-right: 30px;
        width: 120px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
      .privileges .privileges-wrapper .privileges-block h1 {
        width: 200px;
        font-size: 18px;
        color: #171310;
        line-height: 1.6em;
        padding-bottom: 10px;
        position: relative; }
        .privileges .privileges-wrapper .privileges-block h1:after {
          position: absolute;
          content: '';
          width: 50px;
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #9e9b97; }

.rent {
  width: 100%;
  height: auto;
  margin-bottom: 100px; }
  .rent table {
    width: 100%; }
    .rent table tr {
      height: 200px; }
      .rent table tr td {
        border: 2px solid #cfcfcf;
        background: url(../img/icons/plus.png) no-repeat right 40px bottom 40px; }
        .rent table tr td:nth-child(1), .rent table tr td:nth-child(2) {
          width: 50%; }
        .rent table tr td a {
          display: block;
          line-height: 200px;
          text-align: center;
          color: #171310;
          font-size: 30px;
          text-decoration: none;
          border: 4px solid #fff;
          -webkit-transition: 0.3s;
          transition: 0.3s;
          position: relative; }
          .rent table tr td a:after {
            content: '';
            position: absolute;
            width: 4px;
            height: 65px;
            background-color: #fff;
            left: -4px;
            top: 0; }
          .rent table tr td a:before {
            content: '';
            position: absolute;
            width: 4px;
            height: 65px;
            background-color: #fff;
            right: -4px;
            bottom: 0; }
          .rent table tr td a:hover {
            border: 4px solid #b8a177; }

.popup-rent {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(34, 29, 23, 0.5);
  overflow-y: auto;
  z-index: 900; }
  .popup-rent .rent-popup-blocks {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative; }
    .popup-rent .rent-popup-blocks .rent-popup-block {
      width: calc(50% - 55px); }
      .popup-rent .rent-popup-blocks .rent-popup-block:nth-child(1) {
        margin-right: 20px; }
      .popup-rent .rent-popup-blocks .rent-popup-block:nth-child(2) {
        margin-left: 20px;
        margin-right: 70px; }
      .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-title {
        padding: 20px;
        background-color: #b8a177; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-title h1 {
          font-size: 24px;
          color: #fff; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-title p {
          margin-top: 10px;
          font-size: 16px;
          color: #fff; }
      .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table {
        width: 100%;
        color: #171310; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table thead {
          background-color: #f8f5f1; }
          .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table thead img {
            width: 30px;
            height: 30px; }
          .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table thead th {
            text-align: center;
            padding: 20px 0; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table tr td {
          text-align: center;
          padding: 20px 0;
          line-height: 1.4em; }
          .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table tr td:nth-child(1) {
            text-align: left; }
      .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-uslugi {
        margin-top: 30px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-uslugi h1 {
          font-size: 22px;
          color: #b8a177;
          margin-bottom: 10px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-uslugi p {
          font-size: 16px;
          color: #171310;
          line-height: 1.4em;
          margin-bottom: 14px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-uslugi span {
          display: block;
          color: #171310;
          margin-bottom: 30px; }
    .popup-rent .rent-popup-blocks .rent-popup-block-info {
      padding: 20px;
      margin-bottom: 20px; }
      .popup-rent .rent-popup-blocks .rent-popup-block-info h1 {
        font-size: 18px;
        color: #171310;
        margin-bottom: 14px; }
      .popup-rent .rent-popup-blocks .rent-popup-block-info p {
        font-size: 16px;
        color: #171310;
        line-height: 1.4em;
        padding-bottom: 10px; }
        .popup-rent .rent-popup-blocks .rent-popup-block-info p:last-child {
          margin-bottom: 0; }
      .popup-rent .rent-popup-blocks .rent-popup-block-info:nth-child(1) {
        background-color: #f8f5f1; }
  .popup-rent .rent-popup-block-form {
    width: 100%;
    margin-top: 30px;
    border-top: 2px solid #b8a177;
    padding-top: 30px; }
    .popup-rent .rent-popup-block-form .rent-popup-block-form-title {
      margin-bottom: 30px; }
      .popup-rent .rent-popup-block-form .rent-popup-block-form-title h1 {
        text-align: center;
        font-size: 24px;
        text-transform: uppercase;
        color: #171310;
        font-weight: 500; }
    .popup-rent .rent-popup-block-form form {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .popup-rent .rent-popup-block-form form input {
        font-family: 'Roboto';
        font-size: 16px;
        padding: 10px 20px;
        margin-right: 30px;
        border: 2px solid #b8a177;
        background: #fff; }
        .popup-rent .rent-popup-block-form form input:last-child {
          margin-right: 0; }
        .popup-rent .rent-popup-block-form form input[type="submit"] {
          cursor: pointer;
          color: #fff;
          background-color: #b8a177; }

.popup-close-rent {
  cursor: pointer;
  top: 20px;
  right: 20px;
  position: absolute;
  width: 35px;
  height: 35px;
  background: url(../img/icons/close.svg) no-repeat center;
  background-size: cover; }

.gallery {
  overflow: hidden;
  height: auto;
  margin-bottom: 80px;
  position: relative; }
  .gallery .container {
    max-width: 100%;
    width: 100%;
    position: absolute;
    margin: auto;
    bottom: 50px; }
  .gallery .gallery-slider .gallery-slider-item .slider-wrapper-img img {
    width: 100vw; }
  .gallery .gallery-slider-wrapper-prev-next {
    max-width: 1230px;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .gallery .gallery-slider-wrapper-prev-next .gallery-slider-prev {
      border-radius: 50%;
      cursor: pointer;
      margin-right: 20px;
      width: 60px;
      height: 60px;
      background: url(../img/icons/arrow-left.svg) no-repeat center;
      background-size: cover; }
    .gallery .gallery-slider-wrapper-prev-next .gallery-slider-next {
      border-radius: 50%;
      cursor: pointer;
      width: 60px;
      height: 60px;
      background: url(../img/icons/arrow-right.svg) no-repeat center;
      background-size: cover; }

.calendar {
  width: 100%;
  height: auto;
  margin-bottom: 80px; }
  .calendar .section-title {
    display: none; }
  .calendar .calendar-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .calendar .calendar-wrapper .calendar-block {
      width: 612px;
      padding: 65px 60px;
      border: 2px solid #757575;
      padding-bottom: 30px; }
      .calendar .calendar-wrapper .calendar-block .calendar-block-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 50px; }
        .calendar .calendar-wrapper .calendar-block .calendar-block-title .calendar-block-title-btn_left {
          width: 9px;
          height: 17px;
          cursor: pointer;
          background: url(../img/icons/calendar-arrow-left.svg) no-repeat center;
          background-size: 100%; }
        .calendar .calendar-wrapper .calendar-block .calendar-block-title h1 {
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 700;
          color: #171310; }
        .calendar .calendar-wrapper .calendar-block .calendar-block-title .calendar-block-title-btn_right {
          width: 9px;
          height: 17px;
          cursor: pointer;
          background: url(../img/icons/calendar-arrow-right.svg) no-repeat center;
          background-size: 100%; }
    .calendar .calendar-wrapper .calendar-form {
      width: 500px; }
      .calendar .calendar-wrapper .calendar-form .calendar-form-title h1 {
        font-size: 36px;
        color: #171310;
        padding-bottom: 30px;
        position: relative;
        margin-bottom: 68px; }
        .calendar .calendar-wrapper .calendar-form .calendar-form-title h1:after {
          position: absolute;
          content: '';
          width: 150px;
          height: 3px;
          background-color: #b8a177;
          bottom: 0;
          left: 0; }
      .calendar .calendar-wrapper .calendar-form form {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .calendar .calendar-wrapper .calendar-form form input {
          font-size: 18px;
          font-family: 'Roboto';
          width: 100%;
          margin-bottom: 40px;
          border: 0;
          background: transparent;
          border-bottom: 2px solid #b8a177;
          padding-bottom: 14px;
          opacity: 0.7;
          -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          color: #171310; }
          .calendar .calendar-wrapper .calendar-form form input:focus {
            opacity: 1; }
        .calendar .calendar-wrapper .calendar-form form p {
          margin-top: 14px;
          position: relative; }
          .calendar .calendar-wrapper .calendar-form form p:after {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 273px;
            height: 34px;
            border-top: 3px solid #171310;
            border-right: 3px solid #171310; }
          .calendar .calendar-wrapper .calendar-form form p:before {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            width: 273px;
            height: 34px;
            border-left: 3px solid #171310;
            border-bottom: 3px solid #171310; }
        .calendar .calendar-wrapper .calendar-form form .wrapper-button {
          margin-top: 15px; }
          .calendar .calendar-wrapper .calendar-form form .wrapper-button .button {
            cursor: pointer;
            display: inline-block;
            background: #fff;
            border-top: 3px solid #171310;
            border-bottom: 3px solid #171310;
            color: #171310;
            border-left: 0;
            border-right: 0;
            padding: 20px 76px;
            font-family: 'Roboto Slab';
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            position: relative; }
            .calendar .calendar-wrapper .calendar-form form .wrapper-button .button:after {
              content: '';
              position: absolute;
              height: 60%;
              width: 3px;
              background-color: #171310;
              bottom: 0;
              left: 0;
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out; }
            .calendar .calendar-wrapper .calendar-form form .wrapper-button .button:before {
              content: '';
              position: absolute;
              height: 60%;
              width: 3px;
              background-color: #171310;
              top: 0;
              right: 0;
              -webkit-transition: 0.3s ease-in-out;
              transition: 0.3s ease-in-out; }
            .calendar .calendar-wrapper .calendar-form form .wrapper-button .button:hover:after {
              height: 100%; }
            .calendar .calendar-wrapper .calendar-form form .wrapper-button .button:hover:before {
              height: 100%; }
        .calendar .calendar-wrapper .calendar-form form input::-webkit-input-placeholder {
          color: #b8a177; }
        .calendar .calendar-wrapper .calendar-form form input:-moz-placeholder {
          color: #b8a177; }

#calendar {
  font-family: 'Roboto Slab'; }
  #calendar .ui-datepicker table thead {
    display: none; }
  #calendar .ui-datepicker-header {
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #calendar .ui-datepicker-header .ui-datepicker-title {
      font-size: 24px;
      font-weight: 700;
      color: #171310;
      margin-bottom: 0; }
  #calendar .ui-datepicker table tr {
    padding: 0; }
  #calendar .ui-datepicker td {
    padding: 24px 0; }
  #calendar .ui-datepicker-prev {
    cursor: pointer;
    top: 3px;
    left: 0;
    width: 9px;
    height: 17px;
    background: url(../img/icons/calendar-arrow-left.svg) no-repeat center; }
  #calendar .ui-datepicker-next {
    cursor: pointer;
    top: 3px;
    right: 0;
    width: 9px;
    height: 17px;
    background: url(../img/icons/calendar-arrow-right.svg) no-repeat center; }
  #calendar table .ui-state-default {
    font-size: 22px;
    text-align: center; }
  #calendar table a.ui-state-default {
    color: #171310; }
    #calendar table a.ui-state-default:hover {
      color: #b8a177; }
  #calendar table a.ui-state-active {
    color: #b8a177;
    position: relative; }
    #calendar table a.ui-state-active:after {
      position: absolute;
      content: '';
      border-radius: 50%;
      z-index: -1;
      width: 44px;
      height: 44px;
      background-color: rgba(184, 161, 119, 0.5);
      top: -11px;
      left: 12px; }

.map {
  position: relative;
  width: 100%;
  height: 850px;
  background: url(../img/map.png) no-repeat center;
  background-size: cover; }
  .map .map-wrapper {
    position: absolute;
    width: 100%;
    height: 100%; }
    .map .map-wrapper .container {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .map .map-wrapper .container .map-block {
        width: 620px;
        padding: 60px;
        padding-top: 75px;
        background-color: #fff; }
        .map .map-wrapper .container .map-block .map-block-title h1 {
          font-size: 36px;
          color: #171310;
          padding-bottom: 30px;
          position: relative;
          margin-bottom: 38px; }
          .map .map-wrapper .container .map-block .map-block-title h1:after {
            position: absolute;
            content: '';
            width: 150px;
            height: 3px;
            background-color: #b8a177;
            bottom: 0;
            left: 0; }
      .map .map-wrapper .container .block-contact {
        margin-bottom: 30px; }
        .map .map-wrapper .container .block-contact:last-child {
          margin-bottom: 0; }
        .map .map-wrapper .container .block-contact p {
          font-family: 'Roboto';
          font-size: 16px;
          color: #b8a177;
          margin-bottom: 20px; }
        .map .map-wrapper .container .block-contact h1 {
          max-width: 350px;
          font-size: 20px;
          color: #171310; }
        .map .map-wrapper .container .block-contact a {
          text-decoration: none;
          font-size: 20px;
          color: #171310; }
        .map .map-wrapper .container .block-contact .block-contact-wrapper-social {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
          .map .map-wrapper .container .block-contact .block-contact-wrapper-social a {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px; }
            .map .map-wrapper .container .block-contact .block-contact-wrapper-social a:last-child {
              margin-right: 0; }
            .map .map-wrapper .container .block-contact .block-contact-wrapper-social a img {
              width: 50px;
              height: 50px; }
  .map img {
    width: 100%; }

.footer {
  width: 100%;
  height: auto;
  background-color: #1d191b;
  padding: 40px 0; }
  .footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .footer-wrapper .footer-logo_and_copy {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .footer-wrapper .footer-logo_and_copy img {
        height: 62px;
        margin-right: 66px; }
      .footer .footer-wrapper .footer-logo_and_copy p {
        font-family: 'Roboto';
        font-size: 14px;
        color: #fff; }
    .footer .footer-wrapper .footer-confid a {
      text-decoration: none;
      font-family: 'Roboto';
      font-size: 14px;
      color: #b8a177; }

@media screen and (max-width: 1200px) {
  .header {
    height: 680px; }
    .header .header-wrapper-slider {
      height: 100%; }
      .header .header-wrapper-slider .header-slider {
        height: 100%; }
        .header .header-wrapper-slider .header-slider .slick-list {
          height: 100%; }
        .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute {
          top: 140px; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text h1 {
            font-size: 44px; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text h2 {
            font-size: 16px; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text p {
            font-size: 20px; }
            .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text p span {
              font-size: 30px; }
    .header .header-content-absolute .banner-top .banner-top-logo img {
      height: 40px; }
    .header .header-content-absolute .banner-top .banner-top-menu {
      display: none;
      margin-bottom: 0; }
    .header .header-content-absolute .banner-top .banner-top-phone a:nth-child(1) {
      width: 40px;
      height: 40px; }
    .header .header-content-absolute .banner-top .banner-top-phone a:last-child {
      display: none; }
    .header .header-content-absolute .banner-top .banner-top-phone span {
      cursor: pointer;
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/icons/mobile-menu.svg) no-repeat center;
      background-size: 100%; }

  .form .container .form-wrapper {
    display: block; }
    .form .container .form-wrapper .form-title {
      margin-bottom: 30px; }
      .form .container .form-wrapper .form-title h1 {
        padding-bottom: 20px;
        max-width: 100%; }
    .form .container .form-wrapper form {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

  .about .container {
    display: block; }
    .about .container .about-wrapper {
      display: block; }
      .about .container .about-wrapper:nth-child(1) {
        width: 100%; }
      .about .container .about-wrapper:nth-child(2) {
        width: 100%;
        padding-top: 0; }
      .about .container .about-wrapper .mob-adap-on {
        display: block !important; }
      .about .container .about-wrapper .mob-adap-off {
        display: none !important; }
      .about .container .about-wrapper .about-text {
        display: block;
        margin-bottom: 30px; }
        .about .container .about-wrapper .about-text h1 {
          font-size: 30px;
          margin-bottom: 30px; }
        .about .container .about-wrapper .about-text .about-text-wrapper p {
          padding: 0; }
        .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date {
          display: block;
          padding-left: 0; }
          .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date:after {
            display: none; }
          .about .container .about-wrapper .about-text .about-text-wrapper .about-text-date .about-text-date-item {
            width: 100%;
            margin-bottom: 26px; }
      .about .container .about-wrapper .about-img {
        margin-bottom: 30px; }

  .privileges {
    padding: 30px 0;
    margin-bottom: 46px; }
    .privileges .privileges-wrapper {
      display: block; }
      .privileges .privileges-wrapper .privileges-block {
        width: 100%;
        margin-bottom: 20px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .privileges .privileges-wrapper .privileges-block:last-child {
          margin-bottom: 0; }
        .privileges .privileges-wrapper .privileges-block:nth-child(1), .privileges .privileges-wrapper .privileges-block:nth-child(2), .privileges .privileges-wrapper .privileges-block:nth-child(3) {
          margin-bottom: 20px; }
        .privileges .privileges-wrapper .privileges-block .privileges-block-prew {
          width: 64px; }
          .privileges .privileges-wrapper .privileges-block .privileges-block-prew img {
            width: 100%; }
        .privileges .privileges-wrapper .privileges-block h1 {
          font-size: 16px; }

  #calendar table a.ui-state-active:after {
    top: -12px;
    left: 9px; }

  .calendar {
    margin-bottom: 50px; }
    .calendar .section-title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 36px; }
    .calendar .calendar-wrapper {
      display: block; }
      .calendar .calendar-wrapper .calendar-block {
        margin-bottom: 30px;
        width: 100%;
        padding: 30px 20px; }
        .calendar .calendar-wrapper .calendar-block .calendar-block-title {
          margin-bottom: 25px; }
          .calendar .calendar-wrapper .calendar-block .calendar-block-title h1 {
            font-size: 16px; }
      .calendar .calendar-wrapper .calendar-form {
        width: 100%; }
        .calendar .calendar-wrapper .calendar-form .calendar-form-title {
          display: none; }
        .calendar .calendar-wrapper .calendar-form form input {
          font-size: 16px !important;
          margin-bottom: 30px !important; }
        .calendar .calendar-wrapper .calendar-form form button {
          width: 100%;
          padding: 16px 0 !important; } }
@media screen and (max-width: 920px) {
  .section-title {
    font-size: 40px;
    padding-bottom: 24px;
    margin-bottom: 30px; }

  .services .services-wrapper .services-block img {
    margin-bottom: 18px; }
  .services .services-wrapper .services-block p {
    font-size: 18px; }

  .conduct {
    margin-bottom: 35px; }
    .conduct .conduct-relative .conduct-relative-block {
      width: 100%;
      height: 140px; }
    .conduct .conduct-relative .conduct-absolute .container .conduct-absolute-block {
      width: 100%;
      height: 140px; }
      .conduct .conduct-relative .conduct-absolute .container .conduct-absolute-block:nth-child(even) h1 {
        margin-left: 0; }
      .conduct .conduct-relative .conduct-absolute .container .conduct-absolute-block h1 {
        padding-left: 20px;
        font-size: 18px; }
      .conduct .conduct-relative .conduct-absolute .container .conduct-absolute-block p {
        font-size: 14px;
        margin-left: 0;
        padding-left: 20px; }

  .form {
    margin: 25px 0; }
    .form .form-wrapper {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 40px; }
      .form .form-wrapper .form-title {
        margin-bottom: 26px; }
        .form .form-wrapper .form-title h1 {
          font-size: 30px;
          padding-bottom: 18px; }
          .form .form-wrapper .form-title h1:after {
            height: 2px; }
      .form .form-wrapper form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .form .form-wrapper form input[type="text"],
        .form .form-wrapper form input[type="tel"] {
          width: 100%;
          margin-right: 0;
          font-size: 16px;
          margin-bottom: 20px; }
        .form .form-wrapper form .button {
          font-size: 14px;
          margin-top: 15px;
          width: 100%;
          padding: 14px 0; } }
@media screen and (max-width: 860px) {
  .popup-rent .rent-popup-blocks {
    display: block; }
    .popup-rent .rent-popup-blocks .rent-popup-block {
      width: 100%;
      margin: 0 !important; }

  .rent-popup-block-form form {
    display: block !important; }
    .rent-popup-block-form form input {
      width: 100%;
      margin: 0;
      margin-bottom: 14px; }

  .popup-close-rent {
    top: 12px;
    right: 14px; }

  .map {
    height: 800px;
    background: url(../img/map-mobile.png) no-repeat top center;
    background-size: cover; }
    .map .map-wrapper .container {
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      padding-bottom: 30px; }
      .map .map-wrapper .container .map-block {
        padding: 36px;
        width: 100%; }
        .map .map-wrapper .container .map-block .map-block-title h1 {
          font-size: 30px;
          padding-bottom: 20px; }
        .map .map-wrapper .container .map-block .block-contact p {
          font-size: 16px; }
        .map .map-wrapper .container .map-block .block-contact h1 {
          font-size: 18px; }
        .map .map-wrapper .container .map-block .block-contact .block-contact-wrapper-social a {
          width: 40px;
          height: 40px; }
          .map .map-wrapper .container .map-block .block-contact .block-contact-wrapper-social a img {
            width: 100%;
            height: 100%; }

  .footer .container .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .footer .container .footer-wrapper .footer-logo_and_copy {
      display: block; }
      .footer .container .footer-wrapper .footer-logo_and_copy img {
        height: 50px;
        margin-right: 0;
        margin-bottom: 20px; }
      .footer .container .footer-wrapper .footer-logo_and_copy p {
        text-align: center;
        margin-bottom: 20px; } }
@media screen and (max-width: 600px) {
  .popup-rent {
    padding: 10px; }
    .popup-rent .rent-popup-blocks {
      padding: 10px; }
      .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-title {
        margin-top: 50px;
        padding: 10px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-title h1 {
          font-size: 18px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-title p {
          font-size: 14px; }
      .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table {
        margin-bottom: 20px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table thead th {
          padding: 10px 5px; }
        .popup-rent .rent-popup-blocks .rent-popup-block .rent-popup-block-table table tbody td {
          font-size: 14px;
          padding: 10px 5px; }

  .rent {
    margin-bottom: 35px; }
    .rent table tr {
      height: 140px; }
      .rent table tr td {
        height: 140px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100% !important;
        background: url(../img/icons/plus.png) no-repeat right 25px bottom 25px;
        background-size: 30px;
        border-bottom: 0; }
        .rent table tr td a {
          width: 100%;
          height: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          font-size: 22px;
          line-height: normal !important; }
          .rent table tr td a:after {
            height: 45px; }
          .rent table tr td a:before {
            height: 45px; }
      .rent table tr:last-child td {
        border-bottom: 2px solid #cfcfcf; }

  .gallery {
    height: 290px;
    margin-bottom: 30px; }
    .gallery .gallery-slider {
      height: 100%; }
      .gallery .gallery-slider .slick-list {
        height: 100%; }
        .gallery .gallery-slider .slick-list .slick-track {
          height: 100%; }
          .gallery .gallery-slider .slick-list .slick-track .slider-wrapper-img {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            overflow: hidden;
            height: 100%; }
            .gallery .gallery-slider .slick-list .slick-track .slider-wrapper-img img {
              height: 100%;
              width: auto; }
    .gallery .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      bottom: 20px; }
      .gallery .container .dots-slider-gallery .slick-dots {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
    .gallery .gallery-slider-wrapper-prev-next {
      display: none; }

  .services {
    margin-bottom: 30px; }
    .services .services-wrapper {
      display: block; }
      .services .services-wrapper .services-block {
        margin-bottom: 30px;
        width: 100%; }
        .services .services-wrapper .services-block img {
          margin-bottom: 22px; }
        .services .services-wrapper .services-block p {
          font-size: 18px; }

  .header {
    height: 680px; }
    .header .header-wrapper-slider {
      height: 100%; }
      .header .header-wrapper-slider .header-slider {
        height: 100%; }
        .header .header-wrapper-slider .header-slider .slick-list {
          height: 100%; }
        .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute {
          top: 140px; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text h1 {
            font-size: 44px; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text h2 {
            font-size: 16px; }
          .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text p {
            font-size: 20px; }
            .header .header-wrapper-slider .header-slider .header-slider-item .header-slider-item-absolute .banner-text p span {
              font-size: 30px; }
    .header .header-content-absolute .banner-top .banner-top-logo img {
      height: 40px; }
    .header .header-content-absolute .banner-top .banner-top-menu {
      display: none;
      margin-bottom: 0; }
    .header .header-content-absolute .banner-top .banner-top-phone a {
      height: 40px;
      width: 40px; }
      .header .header-content-absolute .banner-top .banner-top-phone a img {
        width: 100%;
        height: 100%; }
      .header .header-content-absolute .banner-top .banner-top-phone a:nth-child(1) {
        margin-right: 15px; }
      .header .header-content-absolute .banner-top .banner-top-phone a:last-child {
        display: none; }
    .header .header-content-absolute .banner-top .banner-top-phone span {
      cursor: pointer;
      display: block;
      width: 40px;
      height: 40px;
      background: url(../img/icons/mobile-menu.svg) no-repeat center;
      background-size: 100%; }
    .header .header-content-absolute2 {
      bottom: 40px; }
      .header .header-content-absolute2 .banner-control_button {
        display: none; }
      .header .header-content-absolute2 #dots-slider-header {
        display: block; } }
@media (min-width: 320px) and (max-width: 1200px) {
  .calendar .calendar-wrapper .calendar-block table tr .on:after {
    display: none; }

  .calendar .calendar-wrapper .calendar-block table tr .on:before {
    display: none; } }
