.catalog_block_title {
    width: 100%;
    height: 352px;
    background: url('/images/catalog_title_fon.PNG') no-repeat;
    background-size: cover;
    margin-top: 80px;
    h1 {
        padding-top: 92px;
    }
}

.button_all {
    width: 200px;
    height: 40px;
    background-color: #0273ed;
    border-radius: 2px;
    margin: auto;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
        &:hover {
            background-color: #49a0ff;
        }
}

.catalog_block_text {
    padding-top: 56px;
    padding-bottom: 56px;
    h2 {
        font-size: 30px;
        margin-bottom: 24px;
        &.hv1 {
            margin-bottom: 40px;
        }
    }
    p {
        opacity: 0.6;
        margin: 0;
        max-width: 890px;
        color: #000407;
        line-height: 28px;
        font-size: 16px;
        &.no_w {
            max-width: 100%;
        }
    }
}

.catalog_parameter {
    margin-bottom: 30px;
    .container {
        display: flex;
        align-items: center;
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 210px;
            height: 40px;
            border: 1px solid #0273ed;
            border-radius: 2px;
            font-size: 14px;
            background: url('/images/arrow_select.svg') no-repeat;
            background-position: right 12px center;
            padding-left: 16px;
            &:nth-child(1) {
                margin-right: 32px;
            }
            option:nth-child(1) {
                display: none;
            }
        }
        .catalog_parameter_links {
            margin-left: 140px;
            a {
                text-decoration: none;
                font-size: 14px;
                color: #2c2c2c;
                margin-right: 40px;
                &:last-child {
                    margin-right: 0;
                }
                &:hover {
                    text-decoration: underline;
                }
                &.active {
                    text-decoration: underline;
                }
            }
        }
        span {
            margin-left: auto;
            font-size: 14px;
            opacity: 0.3;
            color: #2c2c2c;
        }
    }
}

.catalog_item {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
    .catalog_item_head {
        padding: 24px 40px;
        display: flex;
        align-items: center;
        .catalog_item_name {
            font-size: 20px;
            margin-right: 40px;
            span:nth-child(1) {
                color: #000;
                font-weight: bold;
            }
            span:nth-child(2) {
                color: #acd4ff;
                font-weight: 400;
            }
            a {
                color: #0273ed;
                font-weight: 500;
                text-decoration: none;
            }
        }
        .catalog_item_info {
            display: flex;
            align-items: center;
            .info_block {
                display: flex;
                align-items: center;
                margin-right: 32px;
                .info_block_img {
                    width: 24px;
                    height: 24px;
                    margin-right: 16px;
                    &.info_block_img__1 {
                        background-image: url('/images/lock.svg');
                    }
                    &.info_block_img__2 {
                        background-image: url('/images/link.svg');
                    }
                    &.info_block_img__3 {
                        background-image: url('/images/g.svg');
                    }
                }
                .info_block_text {
                    font-size: 14px;
                    span {
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .button_buy {
        width: 176px;
        height: 40px;
        background-color: #0273ed;
        border-radius: 2px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
        transition: 0.3s;
            &:hover {
                background-color: #49a0ff;
            }
    }

    #buy2 {
        display: none;
    }

    .catalog_item_body {
        width: 100%;
        display: flex;
        .table_one {
            width: calc(25% - 1px);
            border-top: 1px solid #d3dae2;
            border-right: 1px solid #d3dae2;
            .table_head {
                height: 30px;
                background-color: rgba(#0273ed, 0.1);
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .tr {
                padding-left: 32px;
                padding-right: 32px;
                height: 24px;
                display: flex;
                justify-content: space-between;
                &:nth-child(2n+3) {
                    background-color: rgba(#0273ed, 0.03);
                }
            }
            .td {
                display: flex;
                align-items: center;
                font-size: 12px;
                color: rgba(#000, 0.5);
                &.tdh {
                    font-size: 14px;
                    font-weight: 500;
                    color: #0273ed;
                    opacity: 1;
                }
            }
        }
        .table_two {
            width: 50%;
            border-top: 1px solid #d3dae2;
            .table_head {
                height: 30px;
                background-color: rgba(#0273ed, 0.1);
                font-size: 14px;
                font-weight: 500;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .table_wrap {
                display: flex;
                .table_item {
                    width: 50%;
                    &:nth-child(1) {
                        width: calc(50% - 1px);
                        border-right: 1px solid #d3dae2;
                    }
                    .tr {
                        padding-left: 32px;
                        padding-right: 32px;
                        height: 24px;
                        display: flex;
                        justify-content: space-between;
                        &:nth-child(2n) {
                            background-color: rgba(#0273ed, 0.03);
                        }
                    }
                    .td {
                        display: flex;
                        align-items: center;
                        font-size: 12px;
                        color: rgba(#000, 0.5);
                        &.tdh {
                            font-size: 14px;
                            font-weight: 500;
                            color: #0273ed;
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .flag {
            width: 16px;
            height: 11px;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-right: 8px;
            &.f_ua {
                background-image: url('/images/ua.svg');
            }
            &.f_ru {
                background-image: url('/images/ru.svg');
            }
            &.f_by {
                background-image: url('/images/by.svg');
            }
            &.f_de {
                background-image: url('/images/de.svg');
            }
            &.f_pl {
                background-image: url('/images/pl.svg');
            }
        }
    }
}

.catalogs {
    width: 100%;
    padding: 56px 0;
    background: #f7f7f7 url('/images/polygonal.png') no-repeat;
    background-size: cover;
    background-position: center;
    .container {
        display: flex;
    }
    .catalogs_block {
        margin-right: 65px;
        .catalogs_title {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 48px;
        }
        .catalogs_wrap {
            display: flex;
            .catalogs_list {
                width: 236px;
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    margin-bottom: 16px;
                    a {
                        font-size: 16px;
                        color: #0273ed;
                        transition: 0.3s;
                        &:hover {
                            color: rgba(#0273ed, 0.5);
                        }
                    }
                }
            }
        }
    }
}

.wrapper_modal_auth {
    display: none;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(#01225c, 0.8);
    z-index: 999;
    padding-top: 120px;
    padding-bottom: 120px;
    overflow-y: auto;
    .modal_auth_close {
        width: 19px;
        height: 19px;
        position: absolute;
        background: url('/images/close.svg') no-repeat center;
        background-size: cover;
        top: 27px;
        right: 27px;
        cursor: pointer;
    }
    .modal_auth {
        position: relative;
        max-width: 744px;
        margin: auto;
        background-color: #fff;
        padding: 72px 84px;
        .login,
        .register {
            display: none;
            &.active {
                display: block;
            }
        }
        .btn-submit,
        .g-recaptcha {
            width: 240px !important;
            border-radius: 2px;
        }
        .modal_swich {
            display: flex;
            margin-bottom: 60px;
            li {
                list-style-type: none;
                font-size: 16px;
                font-weight: 500;
                margin-right: 48px;
                cursor: pointer;
                position: relative;
                &.active {
                    &:after {
                        content: '';
                        position: absolute;
                        bottom: -6px;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #0273ed;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {   
    .wrapper_modal_auth {
        padding-top: 0;
        padding-bottom: 0;
        .modal_auth {
            padding: 50px 30px;
        }
    }
    
    .catalog_item {
        .catalog_item_head {
            flex-direction: column;
            .catalog_item_info {
                flex-wrap: wrap;
                justify-content: space-between;
                .info_block {
                    margin-right: 0;
                    margin-bottom: 20px;
                    &:nth-child(2) {
                        order: 1;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .catalog_item_body {
            flex-wrap: wrap;
            .table_one {
                width: 50%;
                &:nth-child(2) {
                    border-right: 0;
                }
                .table_head {
                    font-size: 12px;
                }
                .tr {
                    padding-left: 8px;
                    padding-right: 8px;
                }
                .td {
                    font-size: 10px;
                    &.tdh {
                        font-size: 10px;
                    }
                }
            }
            .table_two {
                width: 100%;
                border-top: none;
                .table_wrap {
                    .table_item {
                        .tr {
                            padding-left: 8px;
                            padding-right: 8px;
                        }
                        .td {
                            font-size: 10px;
                            &.tdh {
                                font-size: 10px;
                            }
                        }
                    }
                }
                .table_head {
                    font-size: 12px;
                }
            }
        }
    }

    .catalogs .container {
        flex-direction: column;
    }

    .catalog_block_text {
        padding-top: 40px;
        padding-bottom: 40px;
        h2 {
            font-size: 28px;
            text-align: center;
            &.hv1 {
                margin-bottom: 24px;
            }
        }
        p {
            font-size: 14px;
            line-height: 26px;
        }
    }

    .catalog_block_title {
        margin-top: 50px;
        h1 {
            max-width: 250px;
            margin: auto;
            margin-bottom: 37px;
            padding-top: 65px;
        }
        p {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .catalog_parameter {
        .container {
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            select {
                width: 100%;
                margin: 0;
                &:nth-child(1) {
                    margin-right: 0;
                    margin-bottom: 24px;
                }
            }
            .catalog_parameter_links {
                margin-left: 0;
                display: flex;
                flex-direction: column;
                margin-top: 32px;
                a {
                    margin-bottom: 16px;
                    margin-right: 0;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
            span {
                position: absolute;
                right: 15px;
                top: 136px;
            }
        }
    }

    .catalog_item {
        .catalog_item_head {
            background-color: rgba(2, 115, 237, 0.1);
            padding-bottom: 0;
            .catalog_item_name {
                display: flex;
                flex-direction: column;
                align-items: center;
                line-height: 32px;
                margin-right: 0;
                span:nth-child(2) {
                    display: none;
                }
                a {
                    margin-bottom: 20px;
                }
            }
            .catalog_item_info {
                background-color: #fff;
                width: calc(100% + 80px);
                border-top: 1px solid #d3dae2;
                padding: 18px 32px;
            }
            #buy1 {
                display: none;
            }
        }
        #buy2 {
            display: flex;
        }
    }

    .button_buy {
        margin-top: 24px;
        margin-bottom: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .catalogs {
        padding-top: 48px;
        padding-bottom: 44px;
        .catalogs_block {
            margin-right: 0;
            &:nth-child(1) {
                margin-bottom: 20px;
            }
            .catalogs_title {
                text-align: center;
                margin-bottom: 24px;
            }
            .catalogs_wrap {
                .catalogs_list {
                    width: 50%;
                }
            }
        }
    }

    .button_all {
        margin-top: 72px;
        margin-bottom: 32px;
    }
}